@-webkit-keyframes gradshift {
      0% {background-color: #ffffff;}
     25% {background-color: #ffe3ff;}
     50% {background-color: #ffdee5;}
     75% {background-color: #f0d3dd;}
     100% {background-color: #e3aacb;}
}
body{
  -webkit-animation: gradshift 10s linear infinite alternate;
}

header {
	font-family: "Helvetica Neue";
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  }
header {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1.4rem;
    }
h1 {
  font-family: "Helvetica Neue";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
  }
  h2 {
    font-family: "Helvetica Neue";
  	font-size: 14px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 500;
  	line-height: 15.4px;
    text-align: right;
    margin-right: 5%;
    }
  footer {
    text-align: center;
    padding-top: 20px;
  }
body {
  font-family: "Helvetica Neue";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
  }
.portfolio__item {
  width: calc(33% - 20px);
  float: left;
  padding: 5px;
  display: block;
  }
