@-webkit-keyframes gradshift {
      0% {background-color: #ffffff;}
     25% {background-color: #ffe3ff;}
     50% {background-color: #ffdee5;}
     75% {background-color: #f0d3dd;}
     100% {background-color: #e3aacb;}
}
body{
  -webkit-animation: gradshift 10s linear infinite alternate;
}
